<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../css/organizer.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/problem_solving.css">
</head>

<body style="background-color: #150050;">
    <div class="container">
        <div class="p-subTitle org">Organizers</div><br><br>
        <div class="row" style="padding-left: 20px; padding-bottom: 50px;">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c1"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Varun Rishwandh S</h2>
                    <p>Organizer</p>
                </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c2"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Daadreyaa D</h2>
                    <p>Organizer</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c3"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Abuthahir A</h2>
                    <p>Organizer</p>
                </div>
            </div>
        </div>


        <div class="row" style="padding-left: 20px; padding-bottom: 50px;">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c4"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Suraj N</h2>
                    <p>Organizer</p>
                </div>
            </div>


            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c5"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Vijay Kumar</h2>
                    <p>Organizer</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c6"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Dhanalakshmi R </h2>
                    <p>Organizer</p>
                </div>
            </div>
        </div>

        <div class="row" style="padding-left: 20px; padding-bottom: 50px;">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c7"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Geethanjali M</h2>
                    <p>Organizer</p>
                </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c8"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Thuhin Khanna R</h2>
                    <p>Organizer</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c9"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Monish G</h2>
                    <p>Designer</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer style="margin-top: 100px;">
        <div class="content">
            <div class="top">
                <div class="logo-details">
                    <span class="logo_name">Techathon 2022</span>
                </div>
            </div>
            <div class="link-boxes">
                <ul class="box">
                    <li class="link_name">Links</li>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="org.html ">Organizers</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name ">Events</li>
                    <li><a href="ctf.html">Capture The Flag</a></li>
                    <li><a href="code_x.html">Code-X.</a></li>
                    <li><a href="data_dash.html ">Data Dash</a></li>
                    <li><a href="projects_inc.html ">Projects Inc.</a></li>
                    <li><a href="techno_quiz.html ">Techno Quiz</a></li>
                    <li><a href="product_development.html ">Product Development</a></li>
                    <li><a href="ui_ux.html ">UI/UX Design</a></li>
                    <li><a href="rpa.html ">Bot-A-Mata </a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Contact</li>
                    <li><a href="mailto:techathon@rajalakshmi.edu.in">techathon@rajalakshmi.edu.in</a></li>
                    <li style="color: white;"><a>+91 6374817430</a></li>
                    <li style="color: white;"><a>+91 7598239251</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- footer : END -->
</body>

</html>